<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lianshiDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08E2E2C91C3EB75600B640C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E2E2E21C3EB75700B640C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E2E2ED1C3EB75700B640C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
